/** General **/

html,
body {
    position: fixed;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    color: white;
    background-color: #191414;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.button {
    text-align: center;
    height: 4vh;
    width: max(10vw, 78px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-radius: 2vh;
    box-sizing: border-box;
    cursor: pointer;
    color: #1db964;
    transition: background-color 150ms ease, color 150ms ease;
}


/** Menus **/

.big-text {
    font-size: 12vw;
}

.small-text {
    font-size: 5vw;
}

.button:hover {
    background-color: white;
    color: #191414;
}

.button-loading-group {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-loading-group .button {
    height: 40px;
    border-radius: 20px;
}


/** Items **/

.item {
    width: 50vw;
    height: 100%;
    padding: 0 5vw;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.item-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popularity {
    color: #1db964;
    height: 4vh;
    font-size: 3vh;
    line-height: 4vh;
    display: flex;
    align-items: center;
}

.image {
    display: block;
    width: min(100%, 40vh);
    border: 1px solid white;
    box-sizing: border-box;
}

.name {
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
    width: min(100%, 40vh);
    text-overflow: clip;
    white-space: nowrap;
}

.artists {
    color: #BBBBBB;
    overflow: hidden;
    width: min(100%, 40vh);
    text-overflow: clip;
    white-space: nowrap;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons .button {
    margin: 0 4px;
}

.over-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.over-buttons .button {
    margin: 4px 0;
}

@media (max-width: 894px) {
    .item {
        height: 50%;
        width: 100vw;
        padding: 3vh 0;
    }
    .item-content {
        width: min(100%, 25vh);
    }
    .image {
        width: min(100%, 25vh);
    }
}