/** General **/

html,
body {
    position: fixed;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    color: white;
    background-color: #191414;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.button {
    text-align: center;
    height: 4vh;
    width: max(10vw, 78px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    border-radius: 2vh;
    box-sizing: border-box;
    cursor: pointer;
    color: #1db964;
    transition: background-color 150ms ease, color 150ms ease;
}


/** Menus **/

.big-text {
    font-size: 12vw;
}

.small-text {
    font-size: 5vw;
}

.button:hover {
    background-color: white;
    color: #191414;
}

.button-loading-group {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-loading-group .button {
    height: 40px;
    border-radius: 20px;
}


/** Items **/

.item {
    width: 50vw;
    height: 100%;
    padding: 0 5vw;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.item-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popularity {
    color: #1db964;
    height: 4vh;
    font-size: 3vh;
    line-height: 4vh;
    display: flex;
    align-items: center;
}

.image {
    display: block;
    width: min(100%, 40vh);
    border: 1px solid white;
    box-sizing: border-box;
}

@-webkit-keyframes scroll {
    0%,
    10% {
        -webkit-transform: translateX(0%);
    }
    90%,
    100% {
        -webkit-transform: translateX(min(calc(-100% + min(40vw, 40vh)), 0%));
    }
}

@keyframes scroll {
    0%,
    10% {
        transform: translateX(0%);
    }
    90%,
    100% {
        transform: translateX(min(calc(-100% + min(40vw, 40vh)), 0%));
    }
}

@-webkit-keyframes scroll-small {
    0%,
    10% {
        -webkit-transform: translateX(0%);
    }
    90%,
    100% {
        -webkit-transform: translateX(min(calc(-100% + 25vh), 0%));
    }
}

@keyframes scroll-small {
    0%,
    10% {
        transform: translateX(0%);
    }
    90%,
    100% {
        transform: translateX(min(calc(-100% + 25vh), 0%));
    }
}

.name-wrapper {
    text-align: left;
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
    width: min(40vw, 40vh);
    text-overflow: clip;
    white-space: nowrap;
}

.name-wrapper .name {
    display: inline-block;
    animation: scroll 10s linear alternate infinite;
    -webkit-animation: scroll 10s linear alternate infinite;
}

.artists-wrapper {
    text-align: left;
    color: #BBBBBB;
    overflow: hidden;
    width: min(40vw, 40vh);
    text-overflow: clip;
    white-space: nowrap;
    margin-bottom: 5px;
}

.artists-wrapper .artists {
    display: inline-block;
    animation: scroll 10s linear alternate infinite;
    -webkit-animation: scroll 10s linear alternate infinite;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons .button {
    margin: 0 4px;
}

.over-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.over-buttons .button {
    margin: 4px 0;
}

@media (max-width: 894px) {
    .item {
        height: 50%;
        width: 100vw;
        padding: 3vh 0;
    }
    .item-content {
        width: 25vh;
    }
    .image {
        width: 25vh;
    }
    .name-wrapper {
        width: 25vh;
    }
    .name-wrapper .name {
        display: inline-block;
        animation: scroll 10s linear alternate infinite;
        -webkit-animation: scroll-small 10s linear alternate infinite;
    }
    .artists-wrapper {
        width: 25vh;
    }
    .artists-wrapper .artists {
        display: inline-block;
        animation: scroll-small 10s linear alternate infinite;
        -webkit-animation: scroll-small 10s linear alternate infinite;
    }
}