/** General **/

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: white;
    background-color: #191414;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.button {
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    color: #1db964;
    transition: background-color 150ms ease, color 150ms ease;
}


/** Menus **/

.big-text {
    font-size: 12vw;
}

.small-text {
    font-size: 5vw;
}

.button:hover {
    background-color: white;
    color: #191414;
}

.button-loading-group {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/** Items **/

.item {
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 calc(min(10vw, 120px) / 2);
    box-sizing: border-box;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.keyword {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.name,
.value {
    font-size: 6vh;
}

.name {
    text-align: center;
    line-clamp: 2;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: 40vw;
}

.value {
    color: #1db964;
}

.image {
    width: min(38vw, 40vh);
    height: min(38vw, 40vh);
    max-width: 800px;
    max-height: 800px;
    border: 1px solid white;
}

.button-group,
.value-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.buttons {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (min-width: 895px) {
    .keyword {
        height: calc(min(38vw, 40vh) + 15vh + 20px);
    }
    .button-group,
    .value-group {
        height: 140px;
    }
}

@media (max-width: 894px) {
    .item {
        width: 100vw;
        height: 50vh;
        overflow: hidden;
        padding: calc(min(6vh, 120px) / 2) 0;
    }
    .name,
    .value {
        font-size: 5vw;
    }
    .image {
        width: 25vh;
        height: 25vh;
    }
    .buttons {
        height: 42px;
        width: 40vw;
        min-width: 264px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}